<div id="div_g_drilldown" ></div>
<script type="text/javascript">

var titles = {{ titles_json|safe }};
var div = document.getElementById("div_g_drilldown")
div.className = "many";
div.style.display = 'inline-block';
var prices = {{ graph_data_json|safe }};
var ymax = {{ ymax|safe }};
var persons_with_data = {{ persons_with_data|safe }};
var testval = 35432094321342455.32
// var n = testval.toExponential(2)
// console.log(n);
// document.write(prices);
var signal_highlights = {{ sig_highlights|safe }};
// document.write(signal_highlights);
var signal_highlights_len = signal_highlights.length;
// The below if / else draws a more complex chart is signals are present.  
if (persons_with_data != 0) 
{

  $(document).ready(function () 
  {
    new Dygraph(div,
    prices,
    {
      labels: titles,
      connectSeparatedPoints: true,
      maxNumberWidth: 20,
      // drawPoints: true,
      animatedZooms: true,
      ylabel: 'Fully-diluted shares',
      y2label: 'Stock Price',
      
      highlightSeriesOpts: {
        strokeWidth: 2,
        strokeBorderWidth: 2,
        highlightCircleSize: 2,
      },
      // axisLabelColor: "rgba(0,0,0, 0.2)",
      // axisLineColor: "rgba(0,0,0, 0.2)",
      // color: "rgba(0,0,0, 0.2)",
      // errorBars: true,
      // sigma: 1.0,
      series: {
        'Close Price': {
          axis: 'y2'
        },
      },

      axes: 
        {
          x:
          {
            valueFormatter: Dygraph.dateString_,
            axisLabelFormatter: Dygraph.dateAxisFormatter,
            ticker: Dygraph.dateTicker
          },
          y:
          {
            axisLabelWidth: 55,
            labelsKMB: true,
            // axisLabelWidth: 60,
            valueRange: [0, ymax],
          },
          y2:
          {
            axisLabelWidth: 60,
            valueRange: [null, null],
            labelsKMB: true,
          }
        },
      // ylabel: 'Primary y-axis',
      // y2label: 'Secondary y-axis',
      
      underlayCallback: function(canvas, area, g) 
      {
        canvas.fillStyle = "rgba(192, 222, 237, 1.0)";
        function highlight_period(x_start, x_end) 
        {
          var canvas_left_x = g.toDomXCoord(x_start);
          var canvas_right_x = g.toDomXCoord(x_end);
          var canvas_width = canvas_right_x - canvas_left_x;
          canvas.fillRect(canvas_left_x, area.y, canvas_width, area.h);
        }

        var min_data_x = g.getValue(0,0);
        var max_data_x = g.xAxisRange()[1];
        if (0 != signal_highlights_len)
        {
          for (var i = 0; i < signal_highlights_len; i++)
          {
            var start_x_highlight = signal_highlights[i][0];
            var end_x_highlight = signal_highlights[i][1];
            // make sure we don't try to plot outside the graph
            if (start_x_highlight < min_data_x)
            {
              start_x_highlight = min_data_x;
            }
            
            if (end_x_highlight > max_data_x)
            {
              end_x_highlight = max_data_x;
            }
            highlight_period(start_x_highlight,end_x_highlight);                

          }
        }
      }
    });
  });
} else 
{
  $(document).ready(function () 
  {
    new Dygraph(div,
    prices,
    {
      labels: titles,
      animatedZooms: true,
      highlightSeriesOpts: {
        strokeWidth: 2,
        strokeBorderWidth: 1,
        highlightCircleSize: 2,
      },
      // axisLabelColor: "rgba(0,0,0, 0.2)",
      // axisLineColor: "rgba(0,0,0, 0.2)",
      // color: "rgba(0,0,0, 0.2)",
      // errorBars: true,
      // sigma: 1.0,
      axes: 
        {
          x:
          {
            valueFormatter: Dygraph.dateString_,
            axisLabelFormatter: Dygraph.dateAxisFormatter,
            ticker: Dygraph.dateTicker
          },
          y:
          {
             
            // axisLabelWidth: 60,
            // valueRange: [0, ymax],
          }
        },
      
    });
  });
}
</script>