<!-- KEY USAGE NOTE.  THIS IS A 2 AXIS GRAPH IF THERE ARE SIGNAL HIGHLIGHTS AND A 1 AXIS GRAPH IF THERE ARE NOT.  THE IDEA IS THAT SIGNAL HIGHLIGHTS WILL ALWAYS TIE TO WHETHER HOLDINGS WILL SHOW UP.  WE DON'T WANT TO CLUTTER THE GRAPH IS NO SIGNALS SHOW.  IF THIS SHOULD CHANGE, THE BELOW JAVASCRIPT WILL NEED TO BE SUITABLY CHANGED. -->

<div id="div_g_options" ></div>
<script type="text/javascript">

var titles = {{ titles_json|safe }};
var div = document.getElementById("div_g_options")
div.className = "many";
div.style.display = 'inline-block';
var prices = {{ graph_data_json|safe }};
var ymax = {{ ymax|safe }};
var persons_data_len = {{ persons_data_len|safe }};
// console.log(prices);
// document.write(prices);
var signal_highlights = {{ sig_highlights|safe }};
// document.write(signal_highlights);
var signal_highlights_len = signal_highlights.length;
// The below if / else draws a more complex chart is signals are present.  
if (0 != persons_data_len) 
{

  $(document).ready(function () 
  {
    new Dygraph(div,
    prices,
    {
      
      labels: titles,
      connectSeparatedPoints: true,
      maxNumberWidth: 20,
      // drawPoints: true,
      animatedZooms: true,
      ylabel: 'Fully-diluted shares',
      y2label: 'Stock Price',
      highlightSeriesOpts: {
        strokeWidth: 2,
        strokeBorderWidth: 2,
        highlightCircleSize: 2,
      },
      // axisLabelColor: "rgba(0,0,0, 0.2)",
      // axisLineColor: "rgba(0,0,0, 0.2)",
      // color: "rgba(0,0,0, 0.2)",
      // errorBars: true,
      // sigma: 1.0,
      series: {
        'Close Price': {
          axis: 'y2'
        },
      },

      axes: 
        {
          x:
          {
            valueFormatter: Dygraph.dateString_,
            axisLabelFormatter: Dygraph.dateAxisFormatter,
            ticker: Dygraph.dateTicker
          },
          y:
          {
            labelsKMB: true,
            // logscale: true,
            valueRange: [0, ymax],
            axisLabelWidth: 55,
          },
          y2:
          {
            labelsKMB: true,
            axisLabelWidth: 60,
          }
        },
      // ylabel: 'Primary y-axis',
      // y2label: 'Secondary y-axis',
      
      underlayCallback: function(canvas, area, g) 
      {
        canvas.fillStyle = "rgba(192, 222, 237, 1.0)";
        function highlight_period(x_start, x_end) 
        {
          var canvas_left_x = g.toDomXCoord(x_start);
          var canvas_right_x = g.toDomXCoord(x_end);
          var canvas_width = canvas_right_x - canvas_left_x;
          canvas.fillRect(canvas_left_x, area.y, canvas_width, area.h);
        }

        var min_data_x = g.getValue(0,0);
        var max_data_x = g.xAxisRange()[1];
        if (0 != signal_highlights_len)
        {
          for (var i = 0; i < signal_highlights_len; i++)
          {
            var start_x_highlight = signal_highlights[i][0];
            var end_x_highlight = signal_highlights[i][1];
            // make sure we don't try to plot outside the graph
            if (start_x_highlight < min_data_x)
            {
              start_x_highlight = min_data_x;
            }
            
            if (end_x_highlight > max_data_x)
            {
              end_x_highlight = max_data_x;
            }
            highlight_period(start_x_highlight,end_x_highlight);                

          }
        }
      }
    });
  });
} else 
{
  $(document).ready(function () 
  {
    new Dygraph(div,
    prices,
    {
      labels: titles,
      animatedZooms: true,
      highlightSeriesOpts: {
        strokeWidth: 2,
        strokeBorderWidth: 1,
        highlightCircleSize: 2,
      },
      // axisLabelColor: "rgba(0,0,0, 0.2)",
      // axisLineColor: "rgba(0,0,0, 0.2)",
      // color: "rgba(0,0,0, 0.2)",
      // errorBars: true,
      // sigma: 1.0,

      series: {
        'Close Price': {
          axis: 'y'
        },
      },

      axes: 
        {
          x:
          {
            valueFormatter: Dygraph.dateString_,
            axisLabelFormatter: Dygraph.dateAxisFormatter,
            ticker: Dygraph.dateTicker
          },
          // y:
          // {
          //   labelsKMB: true,
          //   // valueRange: [null, null],
          //   // drawAxis: false,
          //   // axisLabelFormatter: function() {
          //     // return '';
          //   // axisLabelColor: Tomato,
          //   // pixelsPerLabel: 10,
          //   // logscale: true,
          //   // axisLabelWidth: 60,
          //   // valueRange: [0, ymax],
          // },
          y:
          {
            labelsKMB: true,
            valueRange: [null, null],
          }
        },
      
    });
  });
}
</script>