{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<script type="text/javascript"
  src="/../static/static/js/dygraph-combined-dev.js"></script>


  <div class="col-md-10">
    <h1>{{ issuer_name }} ({{ ticker }}) {% for other_ticker in other_tickers %}{% if forloop.first %}<small> See also: {% endif %}<a href="{% url 'options' other_ticker %}">{{ other_ticker }}</a>{% if not forloop.last %}, {% endif %}{% if forloop.last %}</small>{% endif %}{% endfor %}</h1>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="{% url 'options' ticker %}?{{ sel_person_id }}={{ selected_person }}">Home</a></li>
      <li role="presentation"><a href="{% url 'drilldown' ticker %}?{{ sel_person_id }}={{ selected_person }}">Transaction Detail</a></li>
      <li role="presentation" class="active"><a href="#">Chart</a></li>
    </ul>
    <div class="spacer10"></div>
  </div>
  <div class="col-md-2">
    <div class="spacer20"></div>
    <div class="pull-right">
    
    {% if watchedname.exists %}
    <a class="btn btn-default" href="watchtoggle" role="button">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Receiving Alerts</a>
    {% else %}
    <a class="btn btn-default" href="watchtoggle" role="button">
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Not Receiving Alerts</a>
    {% endif %}
    <div class="spacer20"></div>
    </div>
  </div>
<!-- Note that the below </div> tag is unmatched and closes a row opened in base.html.  The row following it is closed in the base.html file-->
</div>
<div class="row">


  <div class="col-md-3">
    <!--<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filter by a Person</h3>
      </div>
      <div class="panel-body">-->
        <form method="get">
          <div class="btn-group-vertical btn-block" role="group" aria-label="...">
            <button type="submit" class="btn btn-default 
            {% ifequal selected_person None %}active{% endifequal %}" name="persons" value="clear">
            All
            </button>
          
        {# <div class="btn-group" role="group" aria-label="..."> #}
        
        
      {% for person in persons_for_radio %}
          
            <button class="btn btn-default {% ifequal selected_person person.reporting_owner %}active{% endifequal %}" name="{{ sel_person_id }}" type="submit" value="{{ person.reporting_owner }}">{{ person.reporting_owner__person_name }}</button>
        
        
      {% empty %}
            
              <p>Nobody available.</p>

      {% endfor %}
          </div>
        </form>
    <!--  </div>
    </div>  -->
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Stock Price Chart</h3>
      </div>
      <div class="panel-body" style="height:425px; overflow-y: scroll;">
        
      {% if ymax != 0 %} <!-- We should set up an inequality that works to disable the graph when it would be empty, if it is the case that it could throw an error (not sure) -->
        {% include 'drilldowngraphjs.html' %}
      
      {% else %}
        <p>No recent non-zero holdings reported.</p>
      {% endif %}
      </div>
    </div>  
  </div>
<!-- Note that the below </div> tag is unmatched and closes a row opened in base.html.  The row following it is closed in the base.html file-->
</div>
<div class="row">


{% endblock %}