{% extends 'base.html' %}


{% block content %}

<div class="col-md-10">
  <h1>{{ ticker }} {{ headtitle }} (CIK: {{ issuer_pk }}) </h1>
  <a href="/sdapp/{{ ticker }}">(Go to smart view)</a>
  <div class="spacer10"></div>
</div>
<div class="col-md-2">
  <div class="spacer20"></div>
  <div class="pull-right">
  
  {% if watchedname.exists %}
  <a class="btn btn-default" href="watchtoggle" role="button">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Receiving Alerts</a>
  {% else %}
  <a class="btn btn-default" href="watchtoggle" role="button">
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Not Receiving Alerts</a>
  {% endif %}
  <div class="spacer20"></div>
  </div>
</div>

<div class="col-md-12 table-responsive">

<table class="table">
    <thead>
        <th>issuer_id</th>
        <th>entry_internal_id</th>
        <th>period_of_report</th>
        <th>issuer_cik_num</th>
        <th>security</th>
        <th>reporting_owner_name</th>
        <th>reporting_owner_cik_num</th>
        <th>is_director</th>
        <th>is_officer</th>
        <th>is_ten_percent</th>
        <th>is_something_else</th>
        <th>reporting_owner_title</th>
        <th>security_title</th>
        <th>short_sec_title</th>
        <th>conversion_price</th>
        <th>transaction_date</th>
        <th>transaction_code</th>
        <th>transaction_shares</th>
        <th>xn_price_per_share</th>
        <th>xn_acq_disp_code</th>
        <th>expiration_date</th>
        <th>underlying_title</th>
        <th>underlying_shares</th>
        <th>shares_following_xn</th>
        <th>direct_or_indirect</th>
        <th>tenbfive_note</th>
        <th>transaction_number</th>
        <th>sec_path</th>
        <th>five_not_subject_to_section_sixteen</th>
        <th>five_form_three_holdings</th>
        <th>five_form_four_transactions</th>
        <th>form_type</th>
        <th>deriv_or_nonderiv</th>
        <th>filedatetime</th>
        <th>supersededdt</th>
        <th>adjustment_factor</th>
        <th>adjustment_date</th>
        <th>underlying_security</th>
    </thead>

    {% for entry in entrylist %}
    <tr>
        <td style="text-align:center;">{{ issuer_pk }}</td>
        <td style="text-align:center;">{{ entry.entry_internal_id }}</td>
        <td style="text-align:center;">{{ entry.period_of_report }}</td>
        <td style="text-align:center;">{{ entry.issuer_cik_num }}</td>
        <td style="text-align:center;">{{ entry.security }}</td>
        <td style="text-align:center;">{{ entry.reporting_owner_name }}</td>
        <td style="text-align:center;">{{ entry.reporting_owner_cik_num }}</td>
        <td style="text-align:center;">{{ entry.is_director }}</td>
        <td style="text-align:center;">{{ entry.is_officer }}</td>
        <td style="text-align:center;">{{ entry.is_ten_percent }}</td>
        <td style="text-align:center;">{{ entry.is_something_else }}</td>
        <td style="text-align:center;">{{ entry.reporting_owner_title }}</td>
        <td style="text-align:center;">{{ entry.security_title }}</td>
        <td style="text-align:center;">{{ entry.short_sec_title }}</td>
        <td style="text-align:center;">{{ entry.conversion_price }}</td>
        <td style="text-align:center;">{{ entry.transaction_date }}</td>
        <td style="text-align:center;">{{ entry.transaction_code }}</td>
        <td style="text-align:center;">{{ entry.transaction_shares }}</td>
        <td style="text-align:center;">{{ entry.xn_price_per_share }}</td>
        <td style="text-align:center;">{{ entry.xn_acq_disp_code }}</td>
        <td style="text-align:center;">{{ entry.expiration_date }}</td>
        <td style="text-align:center;">{{ entry.underlying_title }}</td>
        <td style="text-align:center;">{{ entry.underlying_shares }}</td>
        <td style="text-align:center;">{{ entry.shares_following_xn }}</td>
        <td style="text-align:center;">{{ entry.direct_or_indirect }}</td>
        <td style="text-align:center;">{{ entry.tenbfive_note }}</td>
        <td style="text-align:center;">{{ entry.transaction_number }}</td>
        <td style="text-align:center;">{{ entry.sec_path }}</td>
        <td style="text-align:center;">{{ entry.five_not_subject_to_section_sixteen }}</td>
        <td style="text-align:center;">{{ entry.five_form_three_holdings }}</td>
        <td style="text-align:center;">{{ entry.five_form_four_transactions }}</td>
        <td style="text-align:center;">{{ entry.form_type }}</td>
        <td style="text-align:center;">{{ entry.deriv_or_nonderiv }}</td>
        <td style="text-align:center;">{{ entry.filedatetime }}</td>
        <td style="text-align:center;">{{ entry.supersededdt }}</td>
        <td style="text-align:center;">{{ entry.adjustment_factor }}</td>
        <td style="text-align:center;">{{ entry.adjustment_date }}</td>
        <td style="text-align:center;">{{ entry.underlying_security }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
