{% extends 'base.html' %}


{% block content %}


<div class="col-md-10">
  <h1>{{ issuer_name }} Holding Table ({{ ticker }})</h1>
  <a href="{% url 'options' ticker %}">(Go to smart view)</a>
  <div class="spacer10"></div>
</div>
<div class="col-md-2">
  <div class="spacer20"></div>
  <div class="pull-right">
  
  {% if watchedname.exists %}
  <a class="btn btn-default" href="watchtoggle" role="button">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Receiving Alerts</a>
  {% else %}
  <a class="btn btn-default" href="watchtoggle" role="button">
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Not Receiving Alerts</a>
  {% endif %}
  <div class="spacer20"></div>
  </div>
</div>

<div class="col-md-12 table-responsive">

<table class="table">
    <thead>
        <th colspan="5">Non-Derivative Holdings</th>
    </thead>
{% for sectitle, holdings, total in non_deriv_table %}
    <thead>
        <th colspan="5">{{ sectitle }} Holdings (Ticker: {{ total.ticker }})</th>
    </thead>
    <thead>
        <th>Holder</th>
        <th>Title</th>
        <th>Units Held</th>
        <th>Most Recent Transaction</th>
        <th>Intrinsic Value</th>
    </thead>
    {% for holding in holdings %}
    <tr>
        <td style="text-align:center;"><a href="{% url 'personholdingtable' ticker holding.owner_id %}">{{ holding.person_name }}</a></td>
        <td style="text-align:center;">{{ holding.person_title }}</td>
        <td style="text-align:right;">{{ holding.units_held }}</td>
        <td style="text-align:center;">{{ holding.most_recent_xn }}</td>
        <td style="text-align:center;">{{ holding.intrinsic_value }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td style="text-align:center;">Total</td>
        <td style="text-align:center;"> </td>
        <td style="text-align:right;">{{ total.units_held }}</td>
        <td style="text-align:center;">{{ total.most_recent_xn }}</td>
        <td style="text-align:center;">{{ total.intrinsic_value }}</td>
    </tr>
{% endfor %}
</table>
</div>

<div class="col-md-12 table-responsive">

<table class="table">
    <thead>
        <th colspan="9">Derivative Holdings</th>
    </thead>
{% for sectitle, holdings, total in deriv_table %}
    <thead>
        <th colspan="9">{{ sectitle }} Holdings (Underlying Ticker: {{ total.underlying_ticker }})</th>
    </thead>
    <thead>
        <th>Holder</th>
        <th>Title</th>
        <th>Units Held</th>
        <th>W. Avg. Expiration</th>
        <th>W. Avg. Conversion Price</th>
        <th>Underlying Title</th>
        <th>Underlying Shares</th>
        <th>Most Recent Transaction</th>
        <th>Intrinsic Value</th>
    </thead>
    {% for holding in holdings %}
    <tr>
        <td style="text-align:center;"><a href="{% url 'personholdingtable' ticker holding.owner_id %}">{{ holding.person_name }}</a></td>
        <td style="text-align:center;">{{ holding.person_title }}</td>
        <td style="text-align:right;">{{ holding.units_held }}</td>
        <td style="text-align:center;">{{ holding.wavg_expiration_date }}</td>
        <td style="text-align:center;">{{ holding.wavg_conversion }}</td>
        <td style="text-align:center;">{{ holding.scrubbed_underlying_title }}</td>
        <td style="text-align:center;">{{ holding.underlying_shares_total }}</td>
        <td style="text-align:center;">{{ holding.most_recent_xn }}</td>
        <td style="text-align:center;">{{ holding.intrinsic_value }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td style="text-align:center;">Total</td>
        <td style="text-align:center;"></td>
        <td style="text-align:right;">{{ total.units_held }}</td>
        <td style="text-align:center;">{{ total.wavg_expiration_date }}</td>
        <td style="text-align:center;">{{ total.wavg_conversion }}</td>
        <td style="text-align:center;">{{ total.scrubbed_underlying_title }}</td>
        <td style="text-align:center;">{{ total.underlying_shares_total }}</td>
        <td style="text-align:center;">{{ total.most_recent_xn }}</td>
        <td style="text-align:center;">{{ total.intrinsic_value }}</td>
    </tr>
{% endfor %}
</table>
</div>

{% endblock %}

<!--

    {% for entry in holdinglist %}
    <tr>
        <td style="text-align:center;">{{ entry.issuer }}</td>
        <td style="text-align:center;">{{ entry.owner }}</td>
        <td style="text-align:center;">{{ entry.affiliation }}</td>
        <td style="text-align:center;">{{ entry.security_title }}</td>
        <td style="text-align:center;">{{ entry.units_held }}</td>
        <td style="text-align:center;">{{ entry.deriv_or_nonderiv }}</td>
        <td style="text-align:center;">{{ entry.expiration_date }}</td>
        <td style="text-align:center;">{{ entry.underlying_title }}</td>
        <td style="text-align:center;">{{ entry.underlying_shares }}</td>
        <td style="text-align:center;">{{ entry.first_xn }}</td>
        <td style="text-align:center;">{{ entry.most_recent_xn }}</td>
    </tr>
    {% endfor %}
</table>






<table border="1" cellspacing="0" cellpadding="1" style="width:200px">
    <thead>
        <th>issuer</th>
        <th>owner</th>
        <th>affiliation</th>
        <th>security_title</th>
        <th>units_held</th>
        <th>deriv_or_nonderiv</th>
        <th>expiration_date</th>
        <th>underlying_title</th>
        <th>underlying_shares</th>
        <th>first_xn</th>
        <th>most_recent_xn</th>
    </thead>

    {% for entry in holdinglist %}
    <tr>
        <td style="text-align:center;">{{ entry.issuer }}</td>
        <td style="text-align:center;">{{ entry.owner }}</td>
        <td style="text-align:center;">{{ entry.affiliation }}</td>
        <td style="text-align:center;">{{ entry.security_title }}</td>
        <td style="text-align:center;">{{ entry.units_held }}</td>
        <td style="text-align:center;">{{ entry.deriv_or_nonderiv }}</td>
        <td style="text-align:center;">{{ entry.expiration_date }}</td>
        <td style="text-align:center;">{{ entry.underlying_title }}</td>
        <td style="text-align:center;">{{ entry.underlying_shares }}</td>
        <td style="text-align:center;">{{ entry.first_xn }}</td>
        <td style="text-align:center;">{{ entry.most_recent_xn }}</td>
    </tr>
    {% endfor %}
</table>



