{% if watchlist.exists %}

  {% for name in watchlist %}
    {% if name.last_signal_sent != None %}
      <li class="list-group-item">
        <a class="btn glyphicon glyphicon-remove-circle" href="{% url 'watchlisttoggle' name.securitypricehist.ticker_sym %}" role="button" aria-hidden="true"></a>
        <a href="{% url 'options' name.securitypricehist.ticker_sym %}">{{ name.securitypricehist.ticker_sym }} - last signal {{ name.last_signal_sent }}</a>
      </li>

      {% else %}
      <li class="list-group-item">
        <a class="btn glyphicon glyphicon-remove-circle" href="{% url 'watchlisttoggle' name.securitypricehist.ticker_sym %}" role="button" aria-hidden="true"></a>
        <a href="{% url 'options' name.securitypricehist.ticker_sym %}">{{ name.securitypricehist.ticker_sym }} - No recent signals</a>

      </li>
    {% endif %}
  {% endfor %}
{% else %}
      <div class="list-group-item disabled">
        No names followed.
      </div>  
{% endif %}