{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<!--<script src="/../static/static/js/jquery.js"></script>-->
<script type="text/javascript"
  src="/../static/static/js/dygraph-combined-dev.js"></script>
<script src="/../static/static/js/ajaxwatchedname.js"></script>


<div class="col-md-10">
    <h1>{{ issuer_name }} ({{ ticker }}) {% for other_ticker in other_tickers %}{% if forloop.first %}<small> See also: {% endif %}<a href="{% url 'options' other_ticker %}">{{ other_ticker }}</a>{% if not forloop.last %}, {% endif %}{% if forloop.last %}</small>{% endif %}{% endfor %}</h1>
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="{% url 'drilldown' ticker %}?{{ sel_person_id }}={{ selected_person }}">Transaction Detail</a></li>
    <li role="presentation"><a href="{% url 'bigchart' ticker %}?{{ sel_person_id }}={{ selected_person }}">Chart</a></li>
  </ul>
  <div class="spacer10"></div>
</div>

<div class="col-md-2">
  <div class="spacer20"></div>
  <div class="pull-right">
  
  <div id="watchstatus{{ ticker }}">
  {% csrf_token %}
  
  {% include 'sdapp/watchtoggle.html' %}
  </div>
  <div class="spacer20"></div>
  </div>
</div>
<!-- Note that the below </div> tag is unmatched and closes a row opened in base.html.  The row following it is closed in the base.html file-->
</div>
<div class="row">

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Takeaways and Background</h3>
    </div>

    <ul class="list-group" style="height:460px; overflow-y: scroll;">
      <li class="list-group-item">
        <p>[INSERT TAKEAWAYS]</p>
      </li>
    {% if signal_entry != None %}

      {% include 'sdapp/signaldescriptions.html' %}

    {% else %}
      <li class="list-group-item">
        <p>No signals detected.</p>
      </li>
    {% endif %}

      <li class="list-group-item">
        [WHAT ELSE SHOULD BE ADDED?]
      </li>
    </ul>
  </div>  
</div>

<div class="col-md-6">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Top Equity Holdings</small></h3>
      </div>

      <div class="panel-body" style="height:200px; overflow-y: scroll;">

      {% if holding_affiliations.exists %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Title</th>
              <th style="text-align:center">Name</th>
              <th style="text-align:center">Shares</th>
              <th style="text-align:center">Economic Interest</th>
              <th style="text-align:center">Behavior</th>
            </tr>
          </thead>  
          <tbody>

        {% for aff in holding_affiliations %}
            <tr>
              <td>{% if aff.is_officer == True %}{{ aff.reporting_owner_title }}{% elif aff.is_director == True %}Director{% elif aff.is_ten_percent == True %}10% Holder{% endif %}</td>
              <td>{{ aff.person_name }}</td>
              
              <td nowrap align="center">{{ aff.share_equivalents_held|floatformat:0|intword|intcomma}}</td>
              
              <td nowrap align="center">${{ aff.share_equivalents_value|floatformat:0|intword|intcomma}}</td>
              <td align="center">{% if aff.behavior != None %}{{ aff.behavior }}{% endif %}</td>
                          
            </tr>
        {% endfor %}

          </tbody>
        </table>
        
      {% else %}
          <p>No holdings are available.</p>
        
      {% endif %}

      </div>
    </div>  
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Stock Price Chart <i>{% if diff_prim_tkr %}(holdings in {{ diff_prim_tkr }} share equivalents){% endif %}</i></h3>
      </div>
      <div class="panel-body" style="height:200px; overflow-y: scroll;">
        
        {% if graph_data_json_len != 0 %}<!-- We could set up an inequality that works to disable the graph when it would be empty, not sure if an empty graph would throw an error, but it might -->
        {% include 'optionsgraphjs.html' %}

        {% else %}
          <p>No price information available.</p>
        {% endif %}

      </div>  
    </div>  
  </div>
</div>




</div>
<div class="row">
<div class="col-md-6">
  <h3>Tabular Data [THIS SECTION WILL BE REMOVED]</h3>

  <div class="list-group">

    <a href="{% url 'formentrydetail' ticker %}" class="list-group-item">Form Entries</a>
    <a href="{% url 'holdingdetail' ticker %}" class="list-group-item">Current Holdings</a>
  </div>
</div>

{% endblock %}