{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<script src="/../static/static/js/jquery.js"></script>
<script type="text/javascript"
  src="/../static/static/js/dygraph-combined-dev.js"></script>

    <style type="text/css">
    #div_g {
      position: absolute;
      left: 0px;
      right: 20px;
      top: 45px;
      bottom: 25px;
    }
    .many .dygraph-legend > span { display: none; }

    .many .dygraph-legend > span.highlight { display: inline; }
    </style>


<div class="col-md-9">
  <h1>{{ issuer_name }} ({{ ticker }})</h1>
</div>
<div class="col-md-3">
  <div class="spacer20"></div>
  <div class="pull-right">
  
  {% if watchedname.exists %}
  <a class="btn btn-default" href="watchtoggle" role="button">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Receiving Alerts</a>
  {% else %}
  <a class="btn btn-default" href="watchtoggle" role="button">
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Not Receiving Alerts</a>
  {% endif %}
  
  </div>
</div>
<!-- Note that the below </div> tag is unmatched and closes a row opened in base.html.  The row following it is closed in the base.html file-->
</div>
<div class="row">



<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Sentiment</h3>
    </div>
    <div class="panel-body" style="height:200px; overflow-y: scroll;">
    {% if rec != None %}
      
      <!-- Colors based on confidence -->
      {% if rec.confidence = "Strong" %}
      <h1 class="text-info" align="center">{{rec.confidence}}</h1>
      {% elif rec.confidence = "Moderate" %}
      <h1 class="text-default" align="center">{{rec.confidence}}</h1>
      {% elif rec.confidence = "Weak" %}
      <h1 class="text-muted" align="center">{{rec.confidence}}</h1>
      {% else %}

      {% endif %}
      <h3 align="center">and</h3>
      
      <!-- Colors based on sentiment -->
      {% if rec.sentiment = "Bullish" %}
      <h1 class="text-success" align="center">{{rec.sentiment}}</h1>
      {% elif rec.sentiment = "Bearish" %}
      <h1 class="text-danger" align="center">{{rec.sentiment}}</h1>
      {% else %}
      <h1 class="text-info" align="center">{{rec.sentiment}}</h1>
      {% endif %}
    {% else %}

      No recommendation at this time.

    {% endif %}

    </div>
  </div>  
</div>



<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Stock Price Chart <a href="/sdapp/{{ ticker }}/drilldown">(Click for more detail)</a></h3>
    </div>
    <div class="panel-body" style="height:200px; overflow-y: scroll;">
      
      {% if graph_data_json != "????" %} <!-- We should set up an inequality that works to disable the graph when it would be empty, if it is the case that it could throw an error (not sure) -->
      {% include 'optionsgraphjs.html' %}
    </div>
    {% else %}
      <p>No price information available.</p>
    {% endif %}
  </div>  
</div>
<!-- Note that the below </div> tag is unmatched and closes a row opened in base.html.  The row following it is closed in the base.html file-->
</div>
<div class="row">

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Company Info / Holdings</h3>
    </div>

    <div class="panel-body" style="height:200px; overflow-y: scroll;">
    <p>[Some company info here?]</p>
    {% if ann_affiliations.exists %}
      
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Top Holders</th>
            <th style="text-align:right">Holding Value</th>
          </tr>
        </thead>  
        <tbody>
      {% for ann_affiliation in ann_affiliations %}
          <tr>
            <td>{{ ann_affiliation.person_name }}</td>
            <td align="right">${{ ann_affiliation.intrinsic_value|floatformat:0|intcomma }}</td>
          </tr>
      {% endfor %}
        </tbody>
      </table>

      
    {% else %}

        <p>No holdings are available.</p>
      
    {% endif %}
    </div>

  </div>  
</div>


<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Signals</h3>
    </div>
  
    {% if signals.exists %}
      <ul class="list-group" style="height:200px; overflow-y: scroll;">
      {% for signal in signals %}
        <li class="list-group-item">
          <a href="/sdapp/{{ signal.sph.ticker_sym }}/">{{ signal.signal_date }} - {{ signal.long_statement }}</a>
        </li>
      {% endfor %}
      </ul>

    {% else %}
      <div class="panel-body" style="height:200px; overflow-y: scroll;">
        <p>No signals are available.</p>
      </div>
    {% endif %}
    </div>  
  </div>


</div>
<div class="row">

<div class="col-md-6">
  <h3>Tabular Data</h3>

  <div class="list-group">

    <a href="/sdapp/{{ ticker }}/formentries" class="list-group-item">Form Entries</a>
    <a href="/sdapp/{{ ticker }}/holdings" class="list-group-item">Current Holdings</a>
    <a href="/sdapp/{{ ticker }}/byperson" class="list-group-item">Holder Table</a>
    <a href="/sdapp/{{ ticker }}/holdingtable" class="list-group-item">Holding Table</a>
  </div>
</div>







{% endblock %}