{% extends 'base.html' %}
{% load humanize %}

{% block content %}



<div class="col-md-10">
  <h1>{{ ticker }} Positions by Holder (CIK: {{ issuer_pk }})</h1>
  <a href="{% url 'options' ticker %}">(Go to smart view)</a>
  <div class="spacer10"></div>
</div>
<div class="col-md-2">
  <div class="spacer20"></div>
  <div class="pull-right">
  
  {% if watchedname.exists %}
  <a class="btn btn-default" href="watchtoggle" role="button">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Receiving Alerts</a>
  {% else %}
  <a class="btn btn-default" href="watchtoggle" role="button">
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Not Receiving Alerts</a>
  {% endif %}
  <div class="spacer20"></div>
  </div>
</div>

<div class="col-md-12 table-responsive">

<table class="table">
    <thead>
        <th>person_name</th>
        <th>person_title</th>
        <th>security</th>
        <th>short_sec_title</th>
        <th>ticker</th>
        <th>last_close_price</th>
        <th>units_held</th>
        <th>deriv_or_nonderiv</th>
        <th>first_expiration_date</th>
        <th>last_expiration_date</th>
        <th>wavg_expiration_date</th>
        <th>min_conversion_price</th>
        <th>wavg_conversion</th>
        <th>scrubbed_underlying_title</th>
        <th>underlying_ticker</th>
        <th>underlying_shares_total</th>
        <th>underlying_close_price</th>
        <th>intrinsic_value</th>
        <th>first_xn</th>
        <th>most_recent_xn</th>
    </thead>

    {% for entry in personviews %}
    <tr>
        <td style="text-align:center;"><a href="{% url 'personholdingtable' ticker entry.owner_id %}">{{ entry.person_name }}</a></td>
        <td style="text-align:center;">{{ entry.person_title }}</td>
        <td style="text-align:center;">{{ entry.security }}</td>
        <td style="text-align:center;">{{ entry.short_sec_title }}</td>
        <td style="text-align:center;">{{ entry.ticker }}</td>
        <td style="text-align:center;">{{ entry.last_close_price }}</td>
        <td style="text-align:center;">{{ entry.units_held|floatformat:0|intcomma }}</td>
        <td style="text-align:center;">{{ entry.deriv_or_nonderiv }}</td>
        <td style="text-align:center;">{{ entry.first_expiration_date }}</td>
        <td style="text-align:center;">{{ entry.last_expiration_date }}</td>
        <td style="text-align:center;">{{ entry.wavg_expiration_date }}</td>
        <td style="text-align:center;">{{ entry.min_conversion_price }}</td>
        <td style="text-align:center;">{{ entry.wavg_conversion }}</td>
        <td style="text-align:center;">{{ entry.scrubbed_underlying_title }}</td>
        <td style="text-align:center;">{{ entry.underlying_ticker }}</td>
        <td style="text-align:center;">{{ entry.underlying_shares_total }}</td>
        <td style="text-align:center;">{{ entry.underlying_close_price }}</td>
        <td style="text-align:center;">${{ entry.intrinsic_value|floatformat:0|intcomma }}</td>
        <td style="text-align:center;">{{ entry.first_xn }}</td>
        <td style="text-align:center;">{{ entry.most_recent_xn }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}