{% extends 'base.html' %}


{% block content %}

<h1>Screens</h1>
<h3>List by Signal</h3>
    <ul>
        <li><a href="/sdapp/screens/dbuy">Discretionary Buy</a></li>
        <li><a href="/sdapp/screens/wbuy">Buys on Price Weakness</a></li>
        <li>?</li>
        <li>?</li>
    </ul>

<!--<form method="get" action="{% url 'screens' %}">
          

<label for="id_q">Search:</label>
           <input type="text" name="q" id="id_q"/>
           <input type="submit" value="Submit"/>


        </form> -->

<h3>Search</h3>
  <div class="container">
  <form method='get' action="{% url 'screens' %}" class="col-md-6">
    <!--<div class="panel panel-default">
    
    <div class="panel-heading">Signals:</div>
    
    <div class="panel-body">-->
    <!--
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      
      <label {% if dbuyactive %} class="btn btn-info active" {% else %} class="btn btn-info" {% endif %}>
        <input type="checkbox" autocomplete="off" name="discretionarybuy" 
        {% if dbuyactive %} checked {% endif %}>Discretionary Buy</label>
      <label {% if wbuyactive %} class="btn btn-info active" {% else %} class="btn btn-info" {% endif %}>
        <input type="checkbox" autocomplete="off" name="buyonweakness"
        {% if wbuyactive %} checked {% endif %}>Buy on Weakness</label> -->


    <!--
    </div>
    </div>
    -->
    
    <div>
    <label for="sel2">Signal select list (hold shift to select more than one):</label>
      <select multiple class="form-control" name="selectbox">
        <option value="discretionarybuy" {% if dbuyactive %} selected {% endif %}>Discretionary Buy</option>
        <option value="buyonweakness" {% if wbuyactive %} selected {% endif %}>Buy on Weakness</option>
      </select>
    </div>
    <div class="spacer10"></div>
    
      <input type="text" name="q" id="id_q" placeholder="Ticker (optional)" class="form-control">
    <div class="spacer10"></div>
    <div>
    
        <button type="submit" value="Submit" class="btn btn-success btn">Search</button>
    </div>
    <!--<span>-->


    

  </form>
  </div>

  <div class="spacer10"></div>

<div class="container">
<div class="container">
{% if query_string %}    


  {% if query_string == " " %}
    <!--You searched all tickers.-->
  {% else %}
    You searched for "{{ query_string }}"
  {% endif %}


  {% if found_entries.exists %}    
    <div class="panel panel-default">
    <div class="panel-heading">Results</div>
    <ul class="list-group">
    {% for signal in found_entries %}
      <li class="list-group-item"><a href="/sdapp/{{ signal.sph.ticker_sym }}/">{{ signal.signal_date }} - {{ signal.sph.ticker_sym }}: {{ signal.short_statement }}</a></li>
    {% endfor %}
    </ul>
    </div>
  {% elif ticker %}
    <p>Ticker matches {{ ticker }}, but no signals were found.</p>
  {% else %}
    No signals found.
  {% endif %}


{% endif %}
</div>
</div>

<h3>Browse Tickers</h3>

<div class="list-group">

  <a href="index" class="list-group-item">All Tickers</a>
</div>

{% endblock %}