{% extends 'base.html' %}


{% block content %}

<h1>Buys after Stock Drops</h1>

<p>Buys by executives after stock price declines foreshadow outperformance [X]% of the time</p>


<div class="list-group">

{% if signals.exists %}
    
    {% for signal in signals %}
        <a href="{% url 'options' signal.sph.ticker_sym %}" class="list-group-item">{{ signal.signal_date }} - {{ signal.sph.ticker_sym }}: {{ signal.short_statement }}</a>
    {% endfor %}
    
{% else %}
    <a class="list-group-item disabled">No signals are available.</a>
{% endif %}
</div>
{% endblock %}