<h1>{{affiliation.person_name}}: Summary of {{ ticker_sym }} Holdings</h1>

<table border="1" cellspacing="0" cellpadding="1" style="width:200px">
    <thead>
        <th style="text-align:left;"  colspan="13">Non-Derivative Holdings</th>
    </thead>
    <thead>
        <th>issuer</th>
        <th>owner</th>
        <th>affiliation</th>
        <th>security_title</th>
        <th>units_held</th>
        <th>deriv_or_nonderiv</th>
        <th>intrinsic_value</th>
        <th>first_xn</th>
        <th>most_recent_xn</th>
        <th>wavg_xn_date</th>
        <th>transactions_included</th>
        <th>tranches_included</th>
        <th>units_transacted</th>
    </thead>

    {% for entry in nonderivativehtypes %}
    <tr>
        <td style="text-align:center;">{{ entry.issuer }}</td>
        <td style="text-align:center;">{{ entry.owner }}</td>
        <td style="text-align:center;">{{ entry.affiliation }}</td>
        <td style="text-align:center;">{{ entry.security_title }}</td>
        <td style="text-align:center;">{{ entry.units_held }}</td>
        <td style="text-align:center;">{{ entry.deriv_or_nonderiv }}</td>
        <td style="text-align:center;">{{ entry.intrinsic_value }}</td>
        <td style="text-align:center;">{{ entry.first_xn }}</td>
        <td style="text-align:center;">{{ entry.most_recent_xn }}</td>
        <td style="text-align:center;">{{ entry.wavg_xn_date }}</td>
        <td style="text-align:center;">{{ entry.transactions_included }}</td>
        <td style="text-align:center;">{{ entry.tranches_included }}</td>
        <td style="text-align:center;">{{ entry.units_transacted }}</td>

    </tr>
    {% endfor %}
</table>

<table border="1" cellspacing="0" cellpadding="1" style="width:200px">
    <thead>
        <th style="text-align:left;"  colspan="22">Derivative Holdings</th>
    </thead>
    <thead>
        <th>issuer</th>
        <th>owner</th>
        <th>affiliation</th>
        <th>security_title</th>
        <th>units_held</th>
        <th>deriv_or_nonderiv</th>
        <th>first_expiration_date</th>
        <th>last_expiration_date</th>
        <th>wavg_expiration_date</th>
        <th>min_conversion_price</th>
        <th>max_conversion_price</th>
        <th>wavg_conversion</th>
        <th>underlying_title</th>
        <th>underlying_shares</th>
        <th>underlying_price</th>
        <th>intrinsic_value</th>
        <th>first_xn</th>
        <th>most_recent_xn</th>
        <th>wavg_xn_date</th>
        <th>transactions_included</th>
        <th>tranches_included</th>
        <th>units_transacted</th>
    </thead>

    {% for entry in derivativehtypes %}
    <tr>
        <td style="text-align:center;">{{ entry.issuer }}</td>
        <td style="text-align:center;">{{ entry.owner }}</td>
        <td style="text-align:center;">{{ entry.affiliation }}</td>
        <td style="text-align:center;">{{ entry.security_title }}</td>
        <td style="text-align:center;">{{ entry.units_held }}</td>
        <td style="text-align:center;">{{ entry.deriv_or_nonderiv }}</td>
        <td style="text-align:center;">{{ entry.first_expiration_date }}</td>
        <td style="text-align:center;">{{ entry.last_expiration_date }}</td>
        <td style="text-align:center;">{{ entry.wavg_expiration_date }}</td>
        <td style="text-align:center;">{{ entry.min_conversion_price }}</td>
        <td style="text-align:center;">{{ entry.max_conversion_price }}</td>
        <td style="text-align:center;">{{ entry.wavg_conversion }}</td>
        <td style="text-align:center;">{{ entry.underlying_title }}</td>
        <td style="text-align:center;">{{ entry.underlying_shares }}</td>
        <td style="text-align:center;">{{ entry.underlying_price }}</td>
        <td style="text-align:center;">{{ entry.intrinsic_value }}</td>
        <td style="text-align:center;">{{ entry.first_xn }}</td>
        <td style="text-align:center;">{{ entry.most_recent_xn }}</td>
        <td style="text-align:center;">{{ entry.wavg_xn_date }}</td>
        <td style="text-align:center;">{{ entry.transactions_included }}</td>
        <td style="text-align:center;">{{ entry.tranches_included }}</td>
        <td style="text-align:center;">{{ entry.units_transacted }}</td>

    </tr>
    {% endfor %}
</table>

<p>Note: Omits holdings in other entities.<p>